
Kluwer-Navigator.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Kluwer-Navigator.xcodeproj/project.xcworkspace/xcuserdata/Rotem.xcuserdatad/UserInterfaceState.xcuserstate

Kluwer-Navigator.xcodeproj/project.xcworkspace/xcuserdata/Rotem.xcuserdatad/WorkspaceSettings.xcsettings

Kluwer-Navigator.xcodeproj/xcuserdata/Rotem.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Kluwer-Navigator.xcodeproj/xcuserdata/Rotem.xcuserdatad/xcschemes/Kluwer-Navigator.xcscheme

Kluwer-Navigator.xcodeproj/xcuserdata/Rotem.xcuserdatad/xcschemes/xcschememanagement.plist

Kluwer-Navigator/.DS_Store

.DS_Store

Kluwer-Navigator/build/Kluwer-Navigator-2.ipa

kluwer_nav_design/kluwer_navigator_about.psd

kluwer_nav_design/kluwer_navigator_home_portrait.psd

kluwer_nav_design/kluwer_navigator_home_landscape.psd

kluwer_nav_design/kluwer_navigator_loading.psd

Kluwer-Navigator/build/*

Kluwer-Navigator/build/Kluwer-Navigator.ipa
